<app-cms-page-view
  [pageTitle]="'PAGES.LICENSE.TRAINEE.UNQUALIFIED_PRIVATE_APPLICANT' | translate"
  [pageAlert]="successAlert"
>
  <ng-container mainContent>
    <div class="row">
      <div class="col-4 d-flex mb-3">
        <!--        <div class="input-group">-->
        <!--          <span class="input-group-text btn btn-primary"><i class="bi bi-search"></i></span>-->
        <!--          <input type="text" class="form-control form-input" placeholder="ይፈልጉ..."/>-->
        <!--        </div>-->
      </div>

    </div>
    <div class="col-md-5 mb-2">
      <form class="searchForm" [formGroup]="form"  style="width: 300px;">
        <formly-form [form]="form" [model]="model" [fields]="fields">
        </formly-form>
      </form>
    </div>
    <ng-container *ngIf="traineeApplicationResponse$ | async as TraineeApplicationResponse;else noData">
      <cms-data-table
        [showIndex]="true"
        [columns]="tableColumns"
        [records]="TraineeApplicationResponse"
        [clickable]="false"
      >
      </cms-data-table>
    </ng-container>
    <ng-template #noData>
      <span>No Data</span>
    </ng-template>
  </ng-container>
</app-cms-page-view>
